/*
 * Name:	Julian Aguirre
 * Class:	CSC 444
 * File:	style.css
 * Date:	3/31/2021
 */

/* The text 'Title', 'Depth', 'Size', and 'Count' */
.tip-label {
	font-weight: bold;
}

/* The container responsible for showing the rectangle's info that the user clicked */
div#tool-tip {
	position:       absolute;
	height:         auto;
	font:           12px sans-serif;
	padding:        2px;
	text-align:     left;
	pointer-events: none;
	opacity:        0;
	border:         0;
	border-radius:  4px;
	background:     #FED98E;
	
}