/*
 * Name:	Julian Aguirre
 * Class:	CSC 444
 * File:	style.css
 * Date:	4/19/2021
 */
svg {
	/*width: 500px;*/
	/*height: 500px;*/
	border: 1px solid black;
}

rect {
	border: 0 solid transparent;
}

circle {
	stroke: black;
	stroke-width: 1px;
}

/* The lines connecting the parallel coordinates */
.datapath {
	opacity:      0.75;
	stroke-width: 1px;
	fill:         none;
}


/* Responsible for the axis line */
.axis path, .axis line {
	fill:            none;
	stroke:          black;
	shape-rendering: crispEdges;
}


